// sock-card
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;


$white: #F5F5F5;
$lighter: rgba(0, 109, 170, 0.1);
$light: rgba(0, 109, 170, 0.5);
$tan: #a0a2c3;
$blue: #006DAA;
$sky: #7ea5ba;
$dark: #696969;
$yellow: #F7B844;

html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: $lighter;
  font-family: $font, sans-serif;
  text-transform: uppercase;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.images {
  margin-top: 20px;
}

.sock-container {
  position: relative;
  margin-left: 10px;
  margin-top: 70px;
  overflow: hidden;
  width: 550px;
  height: 335px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($sky, .5);
  border-radius: 10px;

  p {
  font-size: 16px;
  color: $sky;
  margin-bottom: 9px;
  }

  h1 {
  font-size: 22px;
  color: $dark;
  margin-top: -5px;
  text-align: left;
}

  h2 {
  color: $blue;
  margin-top: -5px;
  font-size: 20px;
  }
}


.sock {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 5%;
  left: 55%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $dark;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

#add {
  background: $white;
  border: 1px solid $blue;
  padding: 10px;
  display: inline-block;
  outline: 0;
  width: 100%;
  margin: 0px 0px 0px -7px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $blue;
  position: absolute;
  bottom: 38px;
  right: 10px;
  text-align: center;
  &:hover {
    background: $blue;
    color: $white;
    transition: all .4s ease-in-out;
    cursor: pointer;
  }
}


.overview-categories {
  display: flex;
  width: 60%;
}

.categories-first {
  // display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $blue;
  grid-template-columns: repeat(auto-fill, 68px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 33px;
  margin-top: 5px;

}

.categories-second {
  // display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $blue;
  grid-template-columns: repeat(auto-fill, 68px);
  width: 60%;
  grid-gap: 4px;
  margin-left: -42px;
  margin-top: 5px;

}

.filter {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.category {
  padding: 5px;
  font-size: 0.7em;
  text-align: left;
  vertical-align: middle;
  margin-left: -28px;

  i {
    padding-right: 5px;
  }
}

//reviews

.main-container {
  display: flex;
  width: 1040px;
  justify-content: center;
}

.review-container {
  position: relative;
  // margin: auto;
  margin-top: 23px;

  overflow: hidden;
  width: 1000px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($sky, .5);
  border-radius: 10px;

  p {
  font-size: 12px;
  color: $sky;
  letter-spacing: 1px
  }

  h1 {
  font-size: 24px;
  color: $dark;
  margin-top: 27px;
  text-align: left;
  margin-left: 50px;
}

  h2 {
  color: $blue;
  margin-top: 27px;
  margin-left: 50px;
  font-size: 22px;
  }

  .card-sock-user {
    position: absolute;
    left: 13px;
    top: 20px;
  }
}

.overall-rating {
  margin-top: 22px;
  p {
    margin-left: 20px;
    font-size: 16px;
  }
}

.sock-reviews {
    p {
    margin-left: 20px;
    font-size: 14px;
  }

  .headline {
    font-size: 16px;
    margin-top: 10px;
  }
}


.sock-reviews
  h2 {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.sock-review {
  width: 820px;

  p {
    margin-bottom: 5px;
  }
}

.fa-star {
  color: $yellow;
  &:hover {
  transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
  }
}

.overall-rating .stars {
  padding-left: 20px;
}

.overall-rating p {
  margin-bottom: 0px;
}

#review-button {
  position: absolute;
  right: 22px;
  top: 10px;
  a {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
  i {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
}

#update-button {
  padding-right: 15px;
  a {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
  i {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
}

#delete-button {
  a {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
  i {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
}
// .stars {
//   margin-top: -10px;
//   padding-left: 20px;
// }


// .sock-card {
//   overflow: hidden;
//   height: 340px;
//   width: 820px;
//   background: white;
//   // box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   border: 1px solid rgba(210,210,210,0.8);
//   display: flex;
//   align-items: center;

//   margin-top: 70px;
//   h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin-bottom: 8px;
//   margin-top: 50px;
//   text-align: center;
//   color: #006DAA;
//   }
//   p {
//     margin-top: 0px;
//   }
//   img {
//   height: 100%;

//   object-fit: cover;
//   border-right: 1px solid rgba(210,210,210,0.8);
//   }
// }

// .sock-info {
//   margin-bottom: 22px;
// }

// .detailed-info {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .detail {
//   display: flex;
//   align-items: center;
//   i {
//     font-size: 12px;
//     color: #006DAA;
//     opacity: 0.4;
//   }
//   p {
//     font-size: 12px;
//     color: #006DAA;
//     opacity: 0.4;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     padding-left: 3px;
//   }
// }

// .sock-description p {
//   font-size: 12px;
//   line-height: 1.4;
//   color: #696969;
//   opacity: 0.7;
//   margin-bottom: 0px;
//   margin-left: 10px;
//   margin-top: 10px;
// }

// .card-product-infos {
//   position: relative;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }

// .actions {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 52px;
// }

// #buy-button {
//   width: 100%;
//   height: 50px;
//   border-radius: 22px;
//   background-color: white;
//   border: 1px solid #006DAA;
//   color: #006DAA;

//   font-weight: lighter;
//   font-size: 16px;
//   margin-top: 6px;
//   margin-left: 53px;
//   padding: 5px 25px;
//   text-decoration: none;

//   &:hover {
//     background-color: #006DAA;
//   border: 1px solid #006DAA;
//   color: white;
//     transition: color 0.3s ease
//   }
// }



// .sock-price p {
//   margin-bottom: 0px;
//   font-size: 20px;
//   color: #696969;
//   opacity: 0.7;
// }

// // reviews card


// .review-rating {
//   i {
//     font-size: 12px;
//   }
// }


// .logged-in-user {
//   position: absolute;
//   right: 30px;
//   top: 0px;
// }



// .review-rating {
//     margin-top: -10px;
//   padding-left: 20px;
//   font-size: 10px;
// }


// .overall-rating {
//   margin-bottom: 10px;
// }
