// sock-card
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;


$white: #FFFFF9;
$lighter: rgba(0, 109, 170, 0.1);
$light: rgba(0, 109, 170, 0.5);
$tan: #a0a2c3;
$bluer: #68B6E1;
$blue: #006DAA;
$sky: #7ea5ba;
$dark: #696969;
$yellow: #F7B844;
$orange: #F2A849;

.wrapper-container {
  display: grid;
  min-height: 100%;
  display: grid;
  background: $lighter;
  font-family: $font, sans-serif;
  text-transform: uppercase;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.images {
  margin-top: 20px;
}

.sock-container {
  position: relative;
  margin-left: 10px;
  margin-top: 70px;
  overflow: hidden;
  width: 550px;
  height: 335px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($sky, .5);
  border-radius: 10px;

  p {
  font-size: 16px;
  color: $sky;
  margin-bottom: 8px;
  }

  h1 {
  font-size: 22px;
  color: $blue;
  margin-top: -5px;
  margin-bottom: 16px;
  text-align: left;
}

  h2 {
  color: $blue;
  margin-top: -5px;
  font-size: 20px;
  }

  h3 {
  margin-bottom: 4px;
  font-size: 14px;
  color: $blue;
  text-transform: uppercase;

  }
}


.sock {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 5%;
  left: 55%;
}

#user {
  color: $tan;
  font-weight: lighter;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $dark;
  font-size: 16px;
  line-height: 22px;
  margin-right: 25px;
  text-align: justify;
}

#add{
  min-width:90%;
  max-width:90%;
  background: white;
  border: 1px solid $orange;
  font-size: 16px;
  color: $orange;
  margin: 0px 0px 0px 10px;
  padding: 10px;
  border-radius: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  &:hover {
  background: $orange;
  border: 1px solid $orange;
  font-size:16px;
  color: $white;
  cursor: pointer;
  }
}

.overview-categories {
  display: flex;
  width: 60%;
}

.categories-first {
  // display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $sky;
  grid-template-columns: repeat(auto-fill, 68px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 36px;
  margin-top: 2px;
  font-weight: lighter;
}

.categories-second {
  // display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $sky;
  grid-template-columns: repeat(auto-fill, 68px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 3px;
  margin-top: 2px;
  font-weight: lighter;
}

.filter {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 10px;
}

.category {
  padding: 3px;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  margin-left: -28px;

  i {
    padding-right: 5px;
  }
}

//reviews

.main-container {
  display: flex;
  width: 1040px;
  justify-content: center;
}

.review-container {
  position: relative;
  // margin: auto;
  margin-top: 23px;

  overflow: hidden;
  width: 1000px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($sky, .5);
  border-radius: 10px;

  p {
  font-size: 12px;
  color: $sky;
  letter-spacing: 1px
  }

  h1 {
  font-size: 24px;
  color: $dark;
  margin-top: 27px;
  text-align: left;
  margin-left: 50px;
}

  h2 {
  color: $blue;
  margin-top: 27px;
  margin-left: 50px;
  font-size: 22px;
  }

  .card-sock-user {
    position: absolute;
    left: 13px;
    top: 20px;
  }
}

.overall-rating {
  margin-top: 22px;
  p {
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .stars {
  padding-left: 20px;
  border-bottom: 1px solid $tan;
  padding-bottom: 9px;
}
  .headline {
    font-size: 16px;
    margin-top: 10px;
    color: $blue;
  }
}

.sock-reviews {

    p {
    margin-left: 20px;
    font-size: 14px;
  }

  .headline {
    font-size: 16px;
    margin-top: 10px;
    color: $blue;
  }


  h2 {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  }
}


.sock-review {
  p {
    margin-bottom: 5px;
  }
}

.fa-star {
  color: $yellow;
  &:hover {
  transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
  }
}

#review-button {
  position: absolute;
  right: 22px;
  top: 10px;
  a {
    font-size: 14px;
    color: $blue;
    opacity: 0.8;
  }
  i {
    font-size: 14px;
    color: $blue;
    opacity: 0.8;
  }
}

#update-button {
  padding-right: 15px;
  a {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
  i {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
}

#delete-button {
  a {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
  i {
    font-size: 12px;
    color: #006DAA;
    opacity: 0.6;
  }
}
