
<div class="footer">
  <div class="content">SockCiety</div>
  <div class="social-box">
    <div class="social">&#62220;</div>
    <div class="social">&#62217;</div>
    <div class="social">&#62223;</div>
    <div class="social">&#62232;</div>
    <div class="social">&#62235;</div>
  </div>
</div>

