.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-color: #68B6E1;
  height: 800px;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


#washer {
  width:100%;
  margin-left: -130px
}

.sign-up {
  width: 100px;
}

#war {
  font-size: 44px;
}


#join {
  font-size: 70px;
  color: #0262DB;
}


.athletes {
  height: 800px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-left: 10%;
  margin-right: 10%;

}

.a1 {
  background-image:linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
                   url('https://www.stance.com/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwf3a57a30/2018/inline/socks/performance/basketball/general-performance-hoops/men-hoops-brand-campaign/fa18-men-hoops-brand-campaign-secondary_md.jpg');
  background-size: cover;
  background-position:right;
}

.a2 {
  background-image:linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
                   url('https://www.stance.com/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dw9af0a77f/2017/assets/in-line/socks/performance/fusion-athletic/training-luke-davis/mn-training-secondary_md.jpg');
  background-size: cover;
  background-position:left;
}

// .a3 {
//   background-image:linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
//                    url('https://www.stance.com/on/demandware.static/-/Library-Sites-StanceSharedLibrary/default/dwf3a57a30/2018/inline/socks/performance/basketball/general-performance-hoops/men-hoops-brand-campaign/fa18-men-hoops-brand-campaign-secondary_md.jpg');
//   background-size: cover;
//   background-position:right;
// }

.athletes h1 {
    padding-top: 150px;
    color: white;
    font-weight: bold;
    font-size: 100px;
    text-align: left;
    margin-left: 100px;
  }
.athletes a {
  color: #eff25e;
  transition: 0.2s ease;
  font-weight: bold;
}
.athletes a:hover {
 color: #fbff2d;
 font-size: 110px;
}



@media (min-width: 100px) and (max-width: 992px) {
  #washer {
    margin-bottom: 0;
   margin-left: 0;
  }
  .banner {
    padding: 25px;
  }

  .athletes h1 {
    margin-left: 30px;
    font-size: 80px;
  }
  .article h2{
    margin-top: 0;
  }
}

.article {
  background-image:linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
                   url('unite.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

.article h1{
  padding-top: 90px;
  text-align: center;
  margin-left: 0;
}
.article h2 {
  color: white;
  text-align: center;
  margin-top: 20px;

}

.article a:hover {
   color: #fbff2d;
   font-size: 40px;
}
