.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-sock {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // height: 300px;
}

.card-sock > img {
  // height: 200px;
  // width: 100%;
  object-fit: cover;
}

.card-sock h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-sock p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: #696969;
  opacity: 0.7;
}

.card-sock a {
  text-decoration: none;
  color: #696969;
}


.card-sock .card-sock-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-sock-infos .card-sock-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-sock-pricing {
  color: #006DAA;
}

