.dropdown {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  display: list-item;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.btn {
  background: #006DAA;
  font-size:16px;
}


.sign-upbtn{
  background-color: #006DAA;
  width: 34em;  height: 2em;
  color: white;
  text-align: center;
  margin-top: 1em;
  padding-bottom: 2em;
  font-size: 16px;
}

#formlinks{
  margin-top: 1em;
  color: #006DAA;
  justify-content: center;

}

.create-sock {
  background-color: #006DAA;
  width: 34em;  height: 2em;
  color: white;
  text-align: center;
  margin-top: 1em;
  font-size: 16px;
  width: 22em;

}

.buy-sock {
  background-color: #006DAA;
  width: 34em;  height: 2em;
  color: white;
  text-align: center;
  margin-top: 1em;
  font-size: 16px;
  width: 22em;
  padding-bottom: 2em;


}
