.dropdown {
  overflow: none;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

select {
  min-width:90%;
  max-width:90%;
  background: #68B6E1;
  color: white;
}

.filter-submit {
  min-width:90%;
  max-width:90%;
  background: #68B6E1;
  font-size:16px;
  color: white;
  margin-left: 0px;
}


.sign-upbtn{
  background-color: #006DAA;
  width: 34em;  height: 2em;
  color: white;
  text-align: center;
  margin-top: 1em;
  padding-bottom: 2em;
  font-size: 16px;
}

#formlinks{
  margin-top: 1em;
  color: #006DAA;
  justify-content: center;

}

.create-sock {
  background-color: #006DAA;
  width: 34em;  height: 2em;
  color: white;
  text-align: center;
  margin-top: 1em;
  font-size: 16px;
  width: 22em;

}

.buy-sock {
  background-color: #006DAA;
  width: 34em;  height: 2em;
  color: white;
  text-align: center;
  margin-top: 1em;
  font-size: 16px;
  width: 22em;
  padding-bottom: 2em;


}
