<div class="container" style="margin-top:10em">
  <div class="row justify-content-center" style="color: #006DAA">
    <div class="col-12 col-md-6 col-lg-4">
      <h2>Your order has been processed</h2>
      <p style="margin-top:1em">One small sock for man, one giant sock for mankind</p>
    </div>
  </div>
</div>


<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
