<div class="container w-50" style="color: #006DAA">
  <div class="row flex-column justify-content-center" >
  <h1>Check out</h1>
    <%= render 'form' %>
    <button id= "sockcess", class = "btn btn-primary">Buy sock now</button>
  </div>
</div>
